:root {
  --navy-blue: #2e2f42;
  --iris: #4d5ae5;
  --white: #ffffff;
  --cloud: #f4f4fd;
  --slate: #434455;
  --ocean: #404bbf;
}
* {
  font-family: "Roboto", sans-serif;
  font-family: "Raleway", sans-serif;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  background-color: var(--white);
  color: #434455;
}
.web {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.studio {
  color: var(--navy-blue);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.footer {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.nav-menu {
  font-family: "Roboto", sans-serif;
  color: var(--navy-blue);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-menu:hover,
.nav-menu:focus {
  color: #404ffb;
}
.address {
  font-style: normal;
}
.contact-list {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.reference-hdr {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.reference:hover,
.reference:focus {
  color: #404bbf;
}
.section-1-tittle {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
  text-align: center;
}
.section-1 {
  background-color: #2e2f42;
}
.button {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
}
.section-1-tittle {
  background-color: #2e2f42;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
.sub-hdr {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-card {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.team-card-1 {
  color: var(--slate);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.advantages-list {
  list-style: none;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.subtitle {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.04em;
}
.text-footer {
  color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-text {
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.text-footer {
  background-color: #2e2f42;
}
.filter-btn {
  border: 1px solid #e7e9fd;
  background-color: #f4f4fd;
  color: var(--iris);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: #404bbf;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.filter-item {
  color: var(--iris);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.studio-link {
  color: #f4f4fd;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.light-bg {
  background-color: var(--cloud);
}
.list-bg {
  background-color: #ffffff;
}
.dark-bg {
  background-color: var(--navy-blue);
}
